// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";
.navbar {
  padding: 0.5rem 1rem !important;
}
input, textarea{
  background-color: #444 !important;
  color: #aaa !important;
  ::-webkit-input-placeholder { color: #aaa; }
  :-moz-placeholder { color: #aaa; }
  ::-moz-placeholder { color: #aaa; }
  :-ms-input-placeholder { color: #aaa; }
}

// Bootstrap Overrides
@import 'custom';

// Plugins
@import 'plugins/sideBar';
@import 'plugins/jQueryConfirm';
@import 'plugins/tableOfContents';
@import 'plugins/simpleMDE/dark';