// Override the Bootstrap defaults without modifying key, versioned files.

html {
  height: 100%;
}

body {
  height: 100%;
  background: no-repeat;
  background-color: #fed5df;
  background-image: linear-gradient(19deg, #fed5df 10%, #c3fce7 100%);
}