// Override the Bootstrap defaults without modifying key, versioned files.

html {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}

.app-center {
  /* 10% left for nav bar. */
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
